@font-face {
  font-family: 'Jura Light';
  src: url('/src/fonts/Jura-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Jura Regular';
  src: url('/src/fonts/Jura-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Jura Medium';
  src: url('/src/fonts/Jura-Medium.ttf');
  font-weight: 500;
}