// Fonts
$light-font-stack: 'Jura Light', 'Arial';
$default-font-stack: 'Jura Regular', 'Arial';
$medium-font-stack: 'Jura Medium', 'Arial';

// Colors
$true-violet: #8169d4;
$electric-violet: #c115d5;
$reg-violet: #100838;
$gumbo-green: #74a4a4;
$bunker-black: #0c1414;

$white: #fff;
$black: #000;